<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./test.css" type="text/css">
    <style>
        .center {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    }
    </style>
    </head>

    <body>
        <div class= grid-container> 
        <div class="center">
            <h2><b>Register</b></h2>
         
          <a href="{{ url_for('homepage') }}">Home</a>
          <a href="{{ url_for('tweetsPage') }}">Tweets</a>
          <a href="{{ url_for('registerPage') }}">Register</a>
          <a href="{{ url_for('loginPage') }}">Login</a>
          <a href="{{ url_for('profilePage') }}">Profile</a>
    
 
          <form method = "POST">
            <label for="username">Username:</label>
            <input name = "username"><br><br>
            <label for="password">Password:</label>
            <input name = "password"><br><br>
            <input type = "submit"><br><br>
            
          </form>
     
        </div>
    </div>
  
   
    </body>
</html>